$primary: #ffe57f;
$secondary: #141414;
$body-bg: #f5f5f5;
$info: #8b66e7;
$success: #b2e7b9;
$danger: #e7b2b2;

$navbar-light-hover-color: darken(
  $color: $primary,
  $amount: 60%,
);
footer{
 
  background-color: $secondary;
  color: #ffff;
}


@import "~bootstrap/scss/bootstrap";
@include media-breakpoint-down(lg) {
   
.navbar{
  opacity: 1;
}
}


